*.conf.local
/node_modules
/.project
/.settings
/.externalToolBuilders
/test/mothership/conf/server.conf.*
/.idea
/doc/build
/doc/source/client/api
/doc/source/server/api
*_global_.rst
/tests/server/reports
.server
server.log
.settings.xml
jstd.log
tests/client/reports
npm-debug.log
*.sublime-project
*.sublime-workspace
