{{css path="layout_localization.css"}}
<img src="{{url path="layout_localization/flag.png" localized="true"}}" style="float: left;" />
<div class="layout_width" dir="rtl" style="float: right;">
    <p>
        المطر هو منصة الواجهة تدرجية عالية أن ينسق
         وزعت جعل من مكونات المتباعدة.
    </p>
    <p>
         باستخدام تقنيات الويب القياسية (HTML5، CSS3، الخ.)
         الأمطار يتيح للمطورين لخلق تجربة مذهلة للمستخدم
         على أجهزة الجيل القادم (المتصفحات الحديثة، وأقراص، والهواتف الذكية، ...).
    </p>
    <p>
           وبالتالي المطر يتيح للمطورين للتركيز على الكفاءات الأساسية من خلال توفير
         بسيط ميزة والأدوات.
    </p>
</div>
