.button {
    background-color: #6f6f6f;
    border: 1px solid black;
    border-radius: 4px;
    background: -moz-linear-gradient(top, #fff, #fff);
    background: -webkit-linear-gradient(top, #fff, #fff);
    margin-right: 5px;
    padding: 2px;
    white-space: nowrap;
    width: 350px;
    margin: 20px;
    text-align: center;
}

.button:hover {
    background:-moz-linear-gradient(top, #fcfcf0, #303090);
    background:-webkit-linear-gradient(top, #fcfcf0, #303090);
    cursor: default;
}

.toolbar {
    margin: 30px;
    padding-top: 10px;
    background-color:#e0e0e0;
    min-height: 500px;
}

.space {
    margin: 30px 0px 0px 0px;
    padding: 10px;
    cursor: pointer;
}

.toolbar2 {
    margin: 30px;
    background-color:#e0e0e0;
}

.space2 {
    margin: 10px 0px 0px 0px;
    padding: 10px;
    cursor: pointer;
}
