{{css path="format_helpers.css"}}

<table class="fh_container">
    <tr>
        <td class="fh_attribute_title">Locale:</td> <td>{{currentLocale}}</td>
    </tr>
    <tr>
        <td class="fh_attribute_title">Date:</td> <td>{{date currentDate currentLocale}}</td>
    </tr>

    <tr>
        <td class="fh_attribute_title">Time:</td><td>{{time currentDate currentLocale}}</td>
    </tr>

    <tr>
        <td class="fh_attribute_title">Time interval (1 week):</td> <td>{{range currentDate oneWeekFromNow currentLocale}}</td>
    </tr>

    <tr>
        <td class="fh_attribute_title">Time interval (1 year):</td> <td>{{range currentDate oneYearFromNow currentLocale}}</td>
    </tr>

    <tr>
        <td class="fh_attribute_title">Number:</td> <td>{{number "120000.43" currentLocale}}</td>
    </tr>

    <tr>
        <td class="fh_attribute_title">Percentage:</td> <td>percentageToBeAddedHere</td>
    </tr>

    <tr>
        <td class="fh_attribute_title">Currency:</td> <td>currencyToBeAddedHere</td>
    </tr>
</table>
