{{css path="index.css"}}
{{css path="accordion.css"}}

<div class="example-body">
    <h1 class="header">Feature Examples</h1>
    <div class="navi">
        <h3><a href="#">Data Layer</a></h3>
        <div data-example-view="data_layer"></div>
        <h3><a href="#">Events</a></h3>
        <div data-example-view="event_emitter"></div>
        <h3><a href="#">Loading</a></h3>
        <div data-example-view="level1"></div>
        <h3><a href="#">CSS cross referencing</a></h3>
        <div data-example-view="css_cross_referencing"></div>
        <h3><a href="#">Platform Language</a></h3>
        <div data-example-view="platform_language"></div>
    </div>
</div>
