{{css path="layout_localization.css"}}
<img src="{{url path="layout_localization/flag.png" localized="true"}}" style="float: right;" />
<div class="layout_width">
    <p>
        Rain is a highly scalable frontend platform that orchestrates
        distributed rendering of loosely coupled components.
    </p>
    <p>
        By using standard webtechnologies ( HTML5, CSS3, etc. )
        Rain enables developers to create a stunning user experience
        on next generation devices ( modern browsers, tablets, smartphones, ...).
    </p>
    <p>
        Thus Rain enables developers to focus on their core competence by providing
        simple feature reusage and tooling.
    </p>
<div>
