{{css path="text_localization.css"}}

{{t "Dear %1$s %2$s," boss.title boss.lastName id="letter.content.dear" var="dearBossLabel"}}

{{{nt "If you were able to attest to my qualifications for employment, and the skills I attained during my <b>one month</b> tenure at <b>%2$s</b>, I would sincerely appreciate it."
      "If you were able to attest to my qualifications for employment, and the skills I attained during my <b>%1$d months</b> tenure at <b>%2$s</b>, I would sincerely appreciate it."
      months months company id="letter.content.positive.reference" var="qualifications_text"
}}}

{{t "%1$s %2$s" firstName lastName var="senderSignature"}}

{{t "Sincerely," id="letter.ending.sincerely" var="letterEnding"}}

<div class="reference">

    <p>{{dearBossLabel}}</p>
    <br />
    <p>
        {{t "I am writing to ask whether it would be possible for you to provide a reference for me." id="letter.content.scope"}}
    </p>
    <p>
        {{{qualifications_text}}}
    </p>
    <p>
        {{t "I am in the process of seeking employment and a positive reference from you would enhance my prospects of achieving my career goals."}}
    </p>
    <p>
        {{t "Please let me know if there is any information I can provide regarding my experience to assist you in giving me a reference. I can be reached at %1$s or %2$s." email phone}}
    </p>
    <p>
        {{t "Thank you for your consideration." id="letter.content.thank.you"}}
    </p>
    <br />
    <p>
        {{letterEnding}}
    </p>
    <p>
        {{senderSignature}}
    </p>
    <br />
    {{component name="external_theming" view="button" sid="sendEmail" label=sendButtonLabel}}
    <div class="email-response"></div>
</div>
