.data h1 {text-decoration: underline; }
.data table {border: 1px solid #ccc; border-collapse: collapse; }
.data table td, th {text-align: left; padding: 8px; border: 1px solid #ccc;}
.data table th {font-weight: bold; background-color: #dedede; }