.rule31{ background-color: #00006c; }
.rule32{ background-color: #00006e; }
.rule33{ background-color: #000080; }
.rule34{ background-color: #000082; }
.rule35{ background-color: #000084; }
.rule36{ background-color: #000086; }
.rule37{ background-color: #000088; }
.rule38{ background-color: #00008a; }
.rule39{ background-color: #00008c; }
.rule40{ background-color: #00008e; }
.rule41{ background-color: #0000a0; }
.rule42{ background-color: #0000a2; }
.rule43{ background-color: #0000a4; }
.rule44{ background-color: #0000a6; }
.rule45{ background-color: #0000a8; }
.rule46{ background-color: #0000aa; }
.rule47{ background-color: #0000ac; }
.rule48{ background-color: #0000ae; }
.rule49{ background-color: #0000c0; }
.rule50{ background-color: #0000c2; }
.rule51{ background-color: #0000c4; }
.rule52{ background-color: #0000c6; }
.rule53{ background-color: #0000c8; }
.rule54{ background-color: #0000ca; }
.rule55{ background-color: #0000cc; }
.rule56{ background-color: #0000ce; }
.rule57{ background-color: #0000e0; }
.rule58{ background-color: #0000e2; }
.rule59{ background-color: #0000e4; }
.rule60{ background-color: #0000e6; }
