.core-dialog {
    width: 70%;
    position: absolute;
    top: 20%;
    left: 15%;
    min-height: 50%;
    padding: 10px;
    background: #ffffff;

    border: 1px solid #333333;
    -moz-box-shadow: 5px 5px 3px #888888;
    -webkit-box-shadow: 5px 5px 3px #888888;
    box-shadow: 5px 5px 3px #888888;
    z-index: 9999;

    .close {
        background: url('images/x.png') transparent no-repeat top left;
        width: 25px;
        height: 29px;
        position: absolute;
        top: -13px;
        right: -10px;
        cursor: pointer;
    }

    .content {
        overflow: auto;
        width: 100%;
        height: 100%;
    }
}

.core-modal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    background: #000000;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
