.rule1{ background-color: #000000; }
.rule2{ background-color: #000002; }
.rule3{ background-color: #000004; }
.rule4{ background-color: #000006; }
.rule5{ background-color: #000008; }
.rule6{ background-color: #00000a; }
.rule7{ background-color: #00000c; }
.rule8{ background-color: #00000e; }
.rule9{ background-color: #000020; }
.rule10{ background-color: #000022; }
.rule11{ background-color: #000024; }
.rule12{ background-color: #000026; }
.rule13{ background-color: #000028; }
.rule14{ background-color: #00002a; }
.rule15{ background-color: #00002c; }
.rule16{ background-color: #00002e; }
.rule17{ background-color: #000040; }
.rule18{ background-color: #000042; }
.rule19{ background-color: #000044; }
.rule20{ background-color: #000046; }
.rule21{ background-color: #000048; }
.rule22{ background-color: #00004a; }
.rule23{ background-color: #00004c; }
.rule24{ background-color: #00004e; }
.rule25{ background-color: #000060; }
.rule26{ background-color: #000062; }
.rule27{ background-color: #000064; }
.rule28{ background-color: #000066; }
.rule29{ background-color: #000068; }
.rule30{ background-color: #00006a; }
